- earlystopingを早める
-

In [1]:
import pandas as pd
from ydata_profiling import ProfileReport
import lightgbm as lgb
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
from sklearn.metrics import mean_squared_error
import numpy as np
import seaborn as sns
import xgboost as xgb
from catboost import CatBoostRegressor
%matplotlib inline

In [2]:
test_df = pd.read_csv("test.csv")
train_df = pd.read_csv("train.csv")
weather = pd.read_csv("weather.csv")
sample = pd.read_csv("sample_submission.csv")

In [3]:
test_df

      kind      date      area
0     だいこん  20220502  千葉_各地_青森
1     だいこん  20220506  千葉_各地_青森
2     だいこん  20220507  千葉_各地_青森
3     だいこん  20220509  千葉_各地_青森
4     だいこん  20220510  千葉_各地_青森
..     ...       ...       ...
315  ミニトマト  20220526     各地_愛知
316  ミニトマト  20220527     各地_愛知
317  ミニトマト  20220528     各地_愛知
318  ミニトマト  20220530     各地_愛知
319  ミニトマト  20220531     各地_愛知

[320 rows x 3 columns]

In [4]:
weather

,date,mean_temp,max_temp,max_temp_time,min_temp,min_temp_time,sum_rain,sun_time,mean_humid,area
0,20041106,13.1,20.1,2004/11/6 12:50,8.1,2004/11/6 05:31,5.0,1.6,77.0,青森
1,20041107,9.6,12.5,2004/11/7 13:40,5.4,2004/11/7 22:17,0.0,4.1,63.0,青森
2,20041108,9.0,15.5,2004/11/8 12:51,3.2,2004/11/8 06:28,0.0,8.9,72.0,青森
3,20041109,12.2,17.7,2004/11/9 14:40,5.7,2004/11/9 02:49,1.5,1.2,85.0,青森
4,20041110,11.6,16.4,2004/11/10 14:42,6.9,2004/11/10 06:23,0.0,7.5,89.0,青森
...,...,...,...,...,...,...,...,...,...,...
204315,20220426,21.3,23.6,2022/4/26 14:27,17.9,2022/4/26 04:17,2.5,0.0,89.0,東京
204316,20220427,23.0,27.7,2022/4/27 13:12,18.9,2022/4/28 0:00,0.5,1.6,79.0,東京
204317,20220428,16.9,21.1,2022/4/28 15:03,14.2,2022/4/28 22:40,0.0,5.5,57.0,東京
204318,20220429,12.9,16.4,2022/4/29 09:21,9.0,2022/4/29 23:55,40.0,0.2,86.0,東京
204319,20220430,12.6,18.4,2022/4/30 14:49,7.4,2022/4/30 05:28,0.0,12.4,64.0,東京

In [5]:
sample

      kind      date  mode_price
0     だいこん  20220502           0
1     だいこん  20220506           0
2     だいこん  20220507           0
3     だいこん  20220509           0
4     だいこん  20220510           0
..     ...       ...         ...
315  ミニトマト  20220526           0
316  ミニトマト  20220527           0
317  ミニトマト  20220528           0
318  ミニトマト  20220530           0
319  ミニトマト  20220531           0

[320 rows x 3 columns]

In [6]:
#profile = ProfileReport(train_df, title="Profiling Report")
#profile.to_notebook_iframe()
#profile.to_file("your_report.html")
# amount削除
train_df = train_df.drop(columns=['amount'])

In [7]:
def get_season(month: int) -> str:
    if month in [3, 4, 5]:
        return "春"
    elif month in [6, 7, 8]:
        return "夏"
    elif month in [9, 10, 11]:
        return "秋"
    else:  # 12, 1, 2
        return "冬"

In [8]:
def Data_cre(df):
    # --- area を分解して複数行に展開 ---
    df["area_list"] = df["area"].str.split("_")

    # explodeで行を増やす
    df = df.explode("area_list")
    df = df.drop(columns=["area"])
    df = df.rename(columns={"area_list": "area"})

    # --- 日付フォーマット揃え ---
    df["date"] = df["date"].astype(str)
    df["date"] = pd.to_datetime(df["date"])

    # --- weather と結合 ---
    df = pd.merge(df, weather, on=["date", "area"], how="left")

    # --- 年月日列を追加 ---
    df["year"] = df["date"].dt.year
    df["month"] = df["date"].dt.month
    df["day"] = df["date"].dt.day

    # --- max_temp_time / min_temp_time 分解 ---
    df["max_temp_time"] = pd.to_datetime(df["max_temp_time"])
    df["maxtemp_year"] = df["max_temp_time"].dt.year
    df["maxtemp_month"] = df["max_temp_time"].dt.month
    df["maxtemp_day"] = df["max_temp_time"].dt.day
    df["maxtemp_hour"] = df["max_temp_time"].dt.hour

    df["min_temp_time"] = pd.to_datetime(df["min_temp_time"])
    df["mintemp_year"] = df["min_temp_time"].dt.year
    df["mintemp_month"] = df["min_temp_time"].dt.month
    df["mintemp_day"] = df["min_temp_time"].dt.day
    df["mintemp_hour"]= df["min_temp_time"].dt.hour

    # 月を抽出して季節列を追加
    df["season"] = df["date"].dt.month.apply(get_season)
    # --- 不要列削除 ---
    df = df.drop(columns=["date", "max_temp_time", "min_temp_time"])

    # --- category 型に変換 ---
    df["kind"] = df["kind"].astype("category")
    df["area"] = df["area"].astype("category")
    df["season"] = df["season"].astype("category")


    return df
weather["date"] = pd.to_datetime(weather["date"])

train_df = Data_cre(train_df)

test_df = Data_cre(test_df)

In [9]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 212125 entries, 0 to 212124
Data columns (total 21 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   kind           212125 non-null  category
 1   mode_price     212125 non-null  float64
 2   area           212125 non-null  category
 3   mean_temp      0 non-null       float64
 4   max_temp       0 non-null       float64
 5   min_temp       0 non-null       float64
 6   sum_rain       0 non-null       float64
 7   sun_time       0 non-null       float64
 8   mean_humid     0 non-null       float64
 9   year           212125 non-null  int32
 10  month          212125 non-null  int32
 11  day            212125 non-null  int32
 12  maxtemp_year   0 non-null       float64
 13  maxtemp_month  0 non-null       float64
 14  maxtemp_day    0 non-null       float64
 15  maxtemp_hour   0 non-null       float64
 16  mintemp_year   0 non-null       float64
 17  mintemp_month  0 non-null       float64
 18  mintemp_day    0 non-null       float64
 19  mintemp_hour   0 non-null       float64
 20  season         212125 non-null  category
dtypes: category(3), float64(15), int32(3)
memory usage: 27.3 MB

In [10]:
train_df

,kind,mode_price,area,mean_temp,max_temp,min_temp,sum_rain,sun_time,mean_humid,year,...,day,maxtemp_year,maxtemp_month,maxtemp_day,maxtemp_hour,mintemp_year,mintemp_month,mintemp_day,mintemp_hour,season
0,だいこん,735.0,千葉,NaN,NaN,NaN,NaN,NaN,NaN,2005,...,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,秋
1,だいこん,840.0,千葉,NaN,NaN,NaN,NaN,NaN,NaN,2005,...,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,秋
2,だいこん,840.0,各地,NaN,NaN,NaN,NaN,NaN,NaN,2005,...,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,秋
3,だいこん,840.0,青森,NaN,NaN,NaN,NaN,NaN,NaN,2005,...,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,秋
4,だいこん,735.0,千葉,NaN,NaN,NaN,NaN,NaN,NaN,2005,...,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,秋
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
212120,しめじ,48.5,長野,NaN,NaN,NaN,NaN,NaN,NaN,2017,...,29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,春
212121,しめじ,48.5,新潟,NaN,NaN,NaN,NaN,NaN,NaN,2017,...,30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,春
212122,しめじ,48.5,長野,NaN,NaN,NaN,NaN,NaN,NaN,2017,...,30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,春
212123,しめじ,43.0,新潟,NaN,NaN,NaN,NaN,NaN,NaN,2017,...,31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,春
212124,しめじ,43.0,長野,NaN,NaN,NaN,NaN,NaN,NaN,2017,...,31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,春

In [11]:
X = train_df.drop(['mode_price'], axis=1)
y = train_df['mode_price']
# 学習データとテストデータに分割
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, shuffle=True, random_state=0)

In [12]:
### chatgpt
from sklearn.model_selection import KFold
import numpy as np
import lightgbm as lgb

models = {}  # kind → model list or averaged は辞書に保存

categorical_cols = ['kind', 'area',"season"] 
K = 5  # ← Fold数

for kd, group in train_df.groupby("kind", observed=False):

    X = group.drop(columns=["mode_price"],axis=1)
    y = group["mode_price"]

    kf = KFold(n_splits=K, shuffle=True, random_state=42)

    fold_models = []  # foldごとのモデルを保存

    for fold, (train_index, valid_index) in enumerate(kf.split(X)):

        X_train, X_valid = X.iloc[train_index], X.iloc[valid_index]
        y_train, y_valid = y.iloc[train_index], y.iloc[valid_index]

        train_data = lgb.Dataset(X_train, y_train)
        valid_data = lgb.Dataset(X_valid, y_valid)

        model = CatBoostRegressor(
            iterations=10,
            learning_rate=0.1,
            depth=6,
            loss_function='RMSE',
            logging_level='Silent'
        )

        model.fit(
            X_train, y_train,
            cat_features=categorical_cols,
            eval_set=[(X_valid, y_valid)],
            verbose=True
        )
        
        fold_models.append(model)

    models[kd] = fold_models  # kindごとにfoldモデルを保存

In [13]:
import numpy as np

pred_list = []

for kd, group in test_df.groupby("kind"):

    fold_models = models[kd]  # ← foldモデルが複数入っている
    X_test = group.copy()

    # 全 fold モデルの予測を行い平均
    fold_pred = np.mean([m.predict(X_test) for m in fold_models], axis=0)

    X_test["mode_price"] = fold_pred
    pred_list.append(X_test)

# まとめ・並び順合わせ
result = pd.concat(pred_list).sort_index()

# 日付整形（year,month,day → YYYYMMDD）
result["date"] = (
    result["year"].astype(str)
    + result["month"].astype(str).str.zfill(2)
    + result["day"].astype(str).str.zfill(2)
)
result["date"] = result["date"].astype(int)

# 提出形式に整形
submit = result[["kind", "date", "mode_price"]]

submit

C:\Users\ND013\AppData\Local\Temp\ipykernel_5972\846674396.py:5: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  for kd, group in test_df.groupby("kind"):

      kind      date  mode_price
0     だいこん  20220502  987.955481
1     だいこん  20220502  987.955481
2     だいこん  20220502  987.955481
3     だいこん  20220506  987.955481
4     だいこん  20220506  987.955481
..     ...       ...         ...
815  ミニトマト  20220528  124.145376
816  ミニトマト  20220530  124.145376
817  ミニトマト  20220530  124.145376
818  ミニトマト  20220531  124.145376
819  ミニトマト  20220531  124.145376

[820 rows x 3 columns]

In [14]:
submit_mean = (
    submit.groupby(["kind", "date"], as_index=False)["mode_price"]
          .mean()
)
# ① area 側の kind の出現順を取得
kind_order = test_df["kind"].drop_duplicates().tolist()

# ② price 側の kind を Categorical に変換して順序を固定
submit_mean["kind"] = pd.Categorical(submit_mean["kind"], categories=kind_order, ordered=True)

# ③ 並び替え
df_price_sorted = submit_mean.sort_values(["kind", "date"]).reset_index(drop=True)

C:\Users\ND013\AppData\Local\Temp\ipykernel_5972\975664683.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  submit.groupby(["kind", "date"], as_index=False)["mode_price"]

In [15]:
df_price_sorted.to_csv("cat_submit.csv", index=False)
df_price_sorted

      kind      date  mode_price
0     だいこん  20220502  987.955481
1     だいこん  20220506  987.955481
2     だいこん  20220507  987.955481
3     だいこん  20220509  987.390838
4     だいこん  20220510  987.390838
..     ...       ...         ...
315  ミニトマト  20220526  124.155241
316  ミニトマト  20220527  124.145376
317  ミニトマト  20220528  124.145376
318  ミニトマト  20220530  124.145376
319  ミニトマト  20220531  124.145376

[320 rows x 3 columns]