In [6]:
import pandas as pd
lgb =  pd.read_csv("submit_lgb.csv")
xgb =  pd.read_csv("submit_xgb.csv")
cat = pd.read_csv("submit_cat.csv")

In [7]:
lgb

      kind      date   mode_price
0     だいこん  20220502  1039.136806
1     だいこん  20220506  1039.136806
2     だいこん  20220507  1034.473760
3     だいこん  20220509  1033.763412
4     だいこん  20220510  1033.763412
..     ...       ...          ...
315  ミニトマト  20220526   103.190671
316  ミニトマト  20220527   103.190671
317  ミニトマト  20220528   102.769817
318  ミニトマト  20220530   102.990850
319  ミニトマト  20220531   104.152180

[320 rows x 3 columns]

In [8]:
xgb

      kind      date  mode_price
0     だいこん  20220502   979.18820
1     だいこん  20220506   978.91230
2     だいこん  20220507   979.47330
3     だいこん  20220509   980.09735
4     だいこん  20220510   980.09735
..     ...       ...         ...
315  ミニトマト  20220526   130.90833
316  ミニトマト  20220527   130.89044
317  ミニトマト  20220528   130.99615
318  ミニトマト  20220530   131.39430
319  ミニトマト  20220531   131.82292

[320 rows x 3 columns]

In [9]:
cat

      kind      date  mode_price
0     だいこん  20220502  994.129469
1     だいこん  20220506  993.497471
2     だいこん  20220507  993.720465
3     だいこん  20220509  993.581319
4     だいこん  20220510  992.041979
..     ...       ...         ...
315  ミニトマト  20220526  115.312556
316  ミニトマト  20220527  115.351913
317  ミニトマト  20220528  115.416780
318  ミニトマト  20220530  115.648351
319  ミニトマト  20220531  115.740009

[320 rows x 3 columns]

In [10]:

df_all = lgb[['kind', 'date']].copy()
df_all['lgb'] = lgb['mode_price']
df_all['xgb'] = xgb['mode_price']
df_all['cat'] = cat['mode_price']

df_all['mean_pred'] = df_all[['lgb', 'xgb', 'cat']].mean(axis=1)

df_all[["kind", "date", "mean_pred"]].rename(
    columns={"mean_pred": "mode_price"}
).to_csv("submission.csv", index=False)