In [40]:
import pandas as pd
from ydata_profiling import ProfileReport
import lightgbm as lgb
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
from sklearn.metrics import mean_squared_error
import numpy as np
import seaborn as sns
%matplotlib inline

C:\Users\ND013\anaconda3\Lib\site-packages\IPython\core\events.py:82: UserWarning: Glyph 20104 (\N{CJK UNIFIED IDEOGRAPH-4E88}) missing from current font.
  func(*args, **kwargs)
C:\Users\ND013\anaconda3\Lib\site-packages\IPython\core\events.py:82: UserWarning: Glyph 28204 (\N{CJK UNIFIED IDEOGRAPH-6E2C}) missing from current font.
  func(*args, **kwargs)
C:\Users\ND013\anaconda3\Lib\site-packages\IPython\core\events.py:82: UserWarning: Glyph 20516 (\N{CJK UNIFIED IDEOGRAPH-5024}) missing from current font.
  func(*args, **kwargs)
C:\Users\ND013\anaconda3\Lib\site-packages\IPython\core\events.py:82: UserWarning: Glyph 23455 (\N{CJK UNIFIED IDEOGRAPH-5B9F}) missing from current font.
  func(*args, **kwargs)
C:\Users\ND013\anaconda3\Lib\site-packages\IPython\core\events.py:82: UserWarning: Glyph 38555 (\N{CJK UNIFIED IDEOGRAPH-969B}) missing from current font.
  func(*args, **kwargs)
C:\Users\ND013\anaconda3\Lib\site-packages\IPython\core\events.py:82: UserWarning: Glyph 12398 (\N{HIRAGANA LETTER NO}) missing from current font.
  func(*args, **kwargs)
C:\Users\ND013\anaconda3\Lib\site-packages\IPython\core\events.py:82: UserWarning: Glyph 20303 (\N{CJK UNIFIED IDEOGRAPH-4F4F}) missing from current font.
  func(*args, **kwargs)
C:\Users\ND013\anaconda3\Lib\site-packages\IPython\core\events.py:82: UserWarning: Glyph 23429 (\N{CJK UNIFIED IDEOGRAPH-5B85}) missing from current font.
  func(*args, **kwargs)
C:\Users\ND013\anaconda3\Lib\site-packages\IPython\core\events.py:82: UserWarning: Glyph 20385 (\N{CJK UNIFIED IDEOGRAPH-4FA1}) missing from current font.
  func(*args, **kwargs)
C:\Users\ND013\anaconda3\Lib\site-packages\IPython\core\events.py:82: UserWarning: Glyph 26684 (\N{CJK UNIFIED IDEOGRAPH-683C}) missing from current font.
  func(*args, **kwargs)

In [13]:
test_df = pd.read_csv("test.csv")
df = pd.read_csv("train.csv")
weather = pd.read_csv("weather.csv")
sample = pd.read_csv("sample_submission.csv")

In [45]:
test_df

      kind      date      area
0     だいこん  20220502  千葉_各地_青森
1     だいこん  20220506  千葉_各地_青森
2     だいこん  20220507  千葉_各地_青森
3     だいこん  20220509  千葉_各地_青森
4     だいこん  20220510  千葉_各地_青森
..     ...       ...       ...
315  ミニトマト  20220526     各地_愛知
316  ミニトマト  20220527     各地_愛知
317  ミニトマト  20220528     各地_愛知
318  ミニトマト  20220530     各地_愛知
319  ミニトマト  20220531     各地_愛知

[320 rows x 3 columns]

In [15]:
df

       kind      date  amount  mode_price      area
0      だいこん  20051107  201445       735.0        千葉
1      だいこん  20051108  189660       840.0  千葉_各地_青森
2      だいこん  20051110  218166       735.0  千葉_各地_青森
3      だいこん  20051111  182624       682.5     千葉_青森
4      だいこん  20051112  220691       682.5     千葉_青森
...     ...       ...     ...         ...       ...
97777   しめじ  20170526   17231        48.5     新潟_長野
97778   しめじ  20170527   17105        48.5     新潟_長野
97779   しめじ  20170529   12406        48.5     新潟_長野
97780   しめじ  20170530   12320        48.5     新潟_長野
97781   しめじ  20170531   11635        43.0     新潟_長野

[97782 rows x 5 columns]

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 97782 entries, 0 to 97781
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   kind        97782 non-null  object
 1   date        97782 non-null  int64
 2   amount      97782 non-null  int64
 3   mode_price  97782 non-null  float64
 4   area        97782 non-null  object
dtypes: float64(1), int64(2), object(2)
memory usage: 3.7+ MB

In [11]:
#profile = ProfileReport(train_df, title="Profiling Report")
#profile.to_notebook_iframe()
#profile.to_file("your_report.html")

In [65]:
# カテゴリ変数をcategory型に変換
df['kind'] = df['kind'].astype('category')
df['area'] = df['area'].astype('category')
test_df['kind'] = df['kind'].astype('category')
test_df['area'] = df['area'].astype('category')
#amount削除
df = df.drop(columns='amount')

In [66]:
X = df.drop(['mode_price'], axis=1)
y = df['mode_price']
# 学習データとテストデータに分割
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, shuffle=True, random_state=0)

In [72]:
lgb_train = lgb.Dataset(X_train, y_train)

params = {'objective': 'regression',
          'num_leaves': 5,
          'seed': 0,
          'verbose': -1,
}

# モデルの学習
model = lgb.train(params,
                  lgb_train,
                  num_boost_round=50,
                  valid_sets=[lgb_train],
                  valid_names=['train'],
                  callbacks=[lgb.log_evaluation(10)])

[10]	train's l2: 544569
[20]	train's l2: 367679
[30]	train's l2: 325346
[40]	train's l2: 306243
[50]	train's l2: 292816

In [73]:

# 予測
pred = model.predict(X_test)
print(pred)

[ 161.81348464  141.87308217 1548.10245826 ... 1513.10361853 1348.74235706
 1256.95067371]

In [74]:
kekka = model.predict(test_df)
kekka_df = pd.DataFrame(kekka, columns=["mode_price"])

In [75]:
submit = pd.concat(
    [sample[["kind","date"]], kekka_df],
    axis=1
)
submit.to_csv("submit.csv",index=False)