暫定スコア19.774381	最終スコア14.284118

In [138]:
import pandas as pd
from ydata_profiling import ProfileReport
import lightgbm as lgb
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
from sklearn.metrics import mean_squared_error
import numpy as np
import seaborn as sns
%matplotlib inline

In [153]:
test_df = pd.read_csv("test.csv")
train_df = pd.read_csv("train.csv")
weather = pd.read_csv("weather.csv")
sample = pd.read_csv("sample_submission.csv")

In [154]:
train_df

       kind      date  amount  mode_price      area
0      だいこん  20051107  201445       735.0        千葉
1      だいこん  20051108  189660       840.0  千葉_各地_青森
2      だいこん  20051110  218166       735.0  千葉_各地_青森
3      だいこん  20051111  182624       682.5     千葉_青森
4      だいこん  20051112  220691       682.5     千葉_青森
...     ...       ...     ...         ...       ...
97777   しめじ  20170526   17231        48.5     新潟_長野
97778   しめじ  20170527   17105        48.5     新潟_長野
97779   しめじ  20170529   12406        48.5     新潟_長野
97780   しめじ  20170530   12320        48.5     新潟_長野
97781   しめじ  20170531   11635        43.0     新潟_長野

[97782 rows x 5 columns]

In [155]:
sample

      kind      date  mode_price
0     だいこん  20220502           0
1     だいこん  20220506           0
2     だいこん  20220507           0
3     だいこん  20220509           0
4     だいこん  20220510           0
..     ...       ...         ...
315  ミニトマト  20220526           0
316  ミニトマト  20220527           0
317  ミニトマト  20220528           0
318  ミニトマト  20220530           0
319  ミニトマト  20220531           0

[320 rows x 3 columns]

In [142]:
#profile = ProfileReport(train_df, title="Profiling Report")
#profile.to_notebook_iframe()
#profile.to_file("your_report.html")
# amount削除
train_df = train_df.drop(columns=['amount'])

In [143]:
# カテゴリ変数をcategory型に変換 
# 日付データを年数、月、日に分割


def split_location(value):
    parts = value.split("_")
    first = parts[0] if len(parts) > 0 else None
    second = None
    kakuchi = 0

    # Detect "各地"
    if "各地" in parts:
        kakuchi = 1
        parts_clean = [p for p in parts if p != "各地"]
        if len(parts_clean) >= 2:
            second = parts_clean[1]
        elif len(parts_clean) == 1:
            second = None
    else:
        if len(parts) >= 2:
            second = parts[1]

    return pd.Series([first, second, kakuchi])# areaをリスト型に
def Data_cre(df):


    df["date"] = df["date"].astype("str")
    df["date"] = pd.to_datetime(df["date"])
    
    df["year"] = df["date"].dt.year
    df["month"] = df["date"].dt.month
    df["day"] = df["date"].dt.day
    #df["date_only"] = df["date"].dt.date  # datetime.date 型
    df = df.drop(columns=['date'])

    df['kind'] = df['kind'].astype('category')
    # areaを分割する
    # df[["area_1", "area_2", "area_flag"]] = df["area"].apply(split_location)
    df['area'] = df['area'].astype('category')
    # df['area_1'] = df['area_1'].astype('category')
    # df['area_2'] = df['area_2'].astype('category')
    return df

train_df = Data_cre(train_df)
test_df = Data_cre(test_df)

In [144]:
train_df["area"]

0              千葉
1        千葉_各地_青森
2        千葉_各地_青森
3           千葉_青森
4           千葉_青森
           ...
97777       新潟_長野
97778       新潟_長野
97779       新潟_長野
97780       新潟_長野
97781       新潟_長野
Name: area, Length: 97782, dtype: category
Categories (266, object): ['アメリカ', 'アメリカ_カナダ', 'アメリカ_中国', 'アメリカ_北海道', ..., '香川_高知', '高知', '高知_鹿児島', '鹿児島']

In [145]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 97782 entries, 0 to 97781
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   kind        97782 non-null  category
 1   mode_price  97782 non-null  float64
 2   area        97782 non-null  category
 3   year        97782 non-null  int32
 4   month       97782 non-null  int32
 5   day         97782 non-null  int32
 6   area_1      97782 non-null  category
 7   area_2      57928 non-null  category
 8   area_flag   97782 non-null  int64
dtypes: category(4), float64(1), int32(3), int64(1)
memory usage: 3.1 MB

In [146]:
X = train_df.drop(['mode_price'], axis=1)
y = train_df['mode_price']
# 学習データとテストデータに分割
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, shuffle=True, random_state=0)

In [147]:
### chatgpt

models = {}  # kind → 学習済みモデルを保存する辞書

for kd, group in train_df.groupby("kind"):

    print(f"--- {kd} モデルを学習中 ---")

    X = group.drop(columns=["mode_price"])
    y = group["mode_price"]

    lgb_train = lgb.Dataset(X, y)

    params = {
        'objective': 'regression',
        'num_leaves': 5,
        'seed': 0,
        'verbose': -1,
    }

    model = lgb.train(params,
                      lgb_train,
                      num_boost_round=50,
                      valid_sets=[lgb_train],
                      valid_names=['train'],
                      callbacks=[lgb.log_evaluation(10)])

    models[kd] = model  # 保存

--- いんげん モデルを学習中 ---
[10]	train's l2: 270803
[20]	train's l2: 253130
[30]	train's l2: 241054
[40]	train's l2: 232582
[50]	train's l2: 225264
--- うど モデルを学習中 ---
[10]	train's l2: 149248
[20]	train's l2: 149248
[30]	train's l2: 149248
[40]	train's l2: 149248
[50]	train's l2: 149248
--- うめ モデルを学習中 ---

C:\Users\ND013\AppData\Local\Temp\ipykernel_6848\1732292413.py:3: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  for kd, group in train_df.groupby("kind"):

[10]	train's l2: 1.11056e+06
[20]	train's l2: 829611
[30]	train's l2: 718470
[40]	train's l2: 658564
[50]	train's l2: 612442
--- えだまめ モデルを学習中 ---
[10]	train's l2: 7691.8
[20]	train's l2: 6319.38
[30]	train's l2: 5776.78
[40]	train's l2: 5472.02
[50]	train's l2: 5311.14
--- えのきだけ モデルを学習中 ---
[10]	train's l2: 7.40676
[20]	train's l2: 6.70324
[30]	train's l2: 6.15926
[40]	train's l2: 5.84083
[50]	train's l2: 5.63267
--- かぶ モデルを学習中 ---
[10]	train's l2: 553.276
[20]	train's l2: 507.46
[30]	train's l2: 475.382
[40]	train's l2: 454.838
[50]	train's l2: 441.843
--- かぼちゃ モデルを学習中 ---
[10]	train's l2: 487315
[20]	train's l2: 405516
[30]	train's l2: 374632
[40]	train's l2: 354821
[50]	train's l2: 338282
--- きゅうり モデルを学習中 ---
[10]	train's l2: 227695
[20]	train's l2: 200915
[30]	train's l2: 187131
[40]	train's l2: 179269
[50]	train's l2: 172628
--- こまつな モデルを学習中 ---
[10]	train's l2: 4084.45
[20]	train's l2: 3793.64
[30]	train's l2: 3626.92
[40]	train's l2: 3523.63
[50]	train's l2: 3421.66
--- ごぼう モデルを学習中 ---
[10]	train's l2: 81189.9
[20]	train's l2: 68259.6
[30]	train's l2: 63137.2
[40]	train's l2: 59879.7
[50]	train's l2: 57762.7
--- さつまいも モデルを学習中 ---
[10]	train's l2: 71866.7
[20]	train's l2: 60066.6
[30]	train's l2: 54790.9
[40]	train's l2: 52005
[50]	train's l2: 50188.1
--- さといも モデルを学習中 ---
[10]	train's l2: 797407
[20]	train's l2: 757001
[30]	train's l2: 731316
[40]	train's l2: 711319
[50]	train's l2: 697054
--- さやえんどう モデルを学習中 ---
[10]	train's l2: 270188
[20]	train's l2: 235582
[30]	train's l2: 215735
[40]	train's l2: 203490
[50]	train's l2: 194936
--- しめじ モデルを学習中 ---
[10]	train's l2: 2.58264
[20]	train's l2: 2.58264
[30]	train's l2: 2.58264
[40]	train's l2: 2.58264
[50]	train's l2: 2.58264
--- しゅんぎく モデルを学習中 ---
[10]	train's l2: 886.873
[20]	train's l2: 671.75
[30]	train's l2: 559.298
[40]	train's l2: 500.718
[50]	train's l2: 460.734
--- じゃがいも モデルを学習中 ---
[10]	train's l2: 252390
[20]	train's l2: 197321
[30]	train's l2: 170984
[40]	train's l2: 157833
[50]	train's l2: 148949
--- そらまめ モデルを学習中 ---
[10]	train's l2: 309194
[20]	train's l2: 278701
[30]	train's l2: 262983
[40]	train's l2: 254226
[50]	train's l2: 244853
--- たけのこ モデルを学習中 ---
[10]	train's l2: 726175
[20]	train's l2: 634336
[30]	train's l2: 584154
[40]	train's l2: 545014
[50]	train's l2: 517457
--- たまねぎ モデルを学習中 ---
[10]	train's l2: 414589
[20]	train's l2: 342451
[30]	train's l2: 299393
[40]	train's l2: 271211
[50]	train's l2: 242950
--- だいこん モデルを学習中 ---
[10]	train's l2: 71273.9
[20]	train's l2: 65172.2
[30]	train's l2: 61469.1
[40]	train's l2: 57746.4
[50]	train's l2: 54872.5
--- とうもろこし モデルを学習中 ---
[10]	train's l2: 63171.8
[20]	train's l2: 53813.3
[30]	train's l2: 48944.1
[40]	train's l2: 46383.2
[50]	train's l2: 44631.7
--- なす モデルを学習中 ---
[10]	train's l2: 190444
[20]	train's l2: 162945
[30]	train's l2: 150552
[40]	train's l2: 144214
[50]	train's l2: 139778
--- なのはな モデルを学習中 ---
[10]	train's l2: 1637.22
[20]	train's l2: 1395.01
[30]	train's l2: 1251.41
[40]	train's l2: 1180.72
[50]	train's l2: 1130.75
--- なましいたけ モデルを学習中 ---
[10]	train's l2: 374.234
[20]	train's l2: 274.652
[30]	train's l2: 225.584
[40]	train's l2: 199.084
[50]	train's l2: 179.348
--- にら モデルを学習中 ---
[10]	train's l2: 133.693
[20]	train's l2: 113.742
[30]	train's l2: 106.336
[40]	train's l2: 102.815
[50]	train's l2: 101.596
--- にんじん モデルを学習中 ---
[10]	train's l2: 216714
[20]	train's l2: 193554
[30]	train's l2: 180747
[40]	train's l2: 169818
[50]	train's l2: 160426
--- ねぎ モデルを学習中 ---
[10]	train's l2: 196755
[20]	train's l2: 182915
[30]	train's l2: 172417
[40]	train's l2: 162990
[50]	train's l2: 158481
--- はくさい モデルを学習中 ---
[10]	train's l2: 197922
[20]	train's l2: 175864
[30]	train's l2: 161495
[40]	train's l2: 151243
[50]	train's l2: 143874
--- ふき モデルを学習中 ---
[10]	train's l2: 32763.5
[20]	train's l2: 25232.4
[30]	train's l2: 22361.4
[40]	train's l2: 20587.7
[50]	train's l2: 19575.1
--- ほうれんそう モデルを学習中 ---
[10]	train's l2: 926.376
[20]	train's l2: 789.413
[30]	train's l2: 748.127
[40]	train's l2: 713.667
[50]	train's l2: 689.941
--- まつたけ モデルを学習中 ---
[10]	train's l2: 1.22136e+07
[20]	train's l2: 1.05087e+07
[30]	train's l2: 9.19495e+06
[40]	train's l2: 8.22087e+06
[50]	train's l2: 7.55421e+06
--- みずな モデルを学習中 ---
[10]	train's l2: 485.752
[20]	train's l2: 382.546
[30]	train's l2: 334.595
[40]	train's l2: 305.328
[50]	train's l2: 288.336
--- れんこん モデルを学習中 ---
[10]	train's l2: 64314.8
[20]	train's l2: 41337.4
[30]	train's l2: 30435
[40]	train's l2: 25441.1
[50]	train's l2: 22426.3
--- アスパラガス モデルを学習中 ---
[10]	train's l2: 342.623
[20]	train's l2: 219.775
[30]	train's l2: 178.791
[40]	train's l2: 160.799
[50]	train's l2: 150.988
--- オクラ モデルを学習中 ---
[10]	train's l2: 268.042
[20]	train's l2: 196.852
[30]	train's l2: 169.265
[40]	train's l2: 156.295
[50]	train's l2: 148.312
--- キャベツ モデルを学習中 ---
[10]	train's l2: 112953
[20]	train's l2: 104702
[30]	train's l2: 100114
[40]	train's l2: 93588.3
[50]	train's l2: 89037.3
--- セルリー モデルを学習中 ---
[10]	train's l2: 231641
[20]	train's l2: 188952
[30]	train's l2: 171503
[40]	train's l2: 162483
[50]	train's l2: 155447
--- トマト モデルを学習中 ---
[10]	train's l2: 119577
[20]	train's l2: 106418
[30]	train's l2: 100934
[40]	train's l2: 96334.3
[50]	train's l2: 92053.2
--- ピース モデルを学習中 ---
[10]	train's l2: 265985
[20]	train's l2: 201026
[30]	train's l2: 173492
[40]	train's l2: 156181
[50]	train's l2: 147238
--- ピーマン モデルを学習中 ---
[10]	train's l2: 371.706
[20]	train's l2: 309.835
[30]	train's l2: 284.957
[40]	train's l2: 268.391
[50]	train's l2: 255.695
--- ブロッコリー モデルを学習中 ---
[10]	train's l2: 155291
[20]	train's l2: 130038
[30]	train's l2: 118472
[40]	train's l2: 111634
[50]	train's l2: 106347
--- ミニトマト モデルを学習中 ---
[10]	train's l2: 840.994
[20]	train's l2: 705.185
[30]	train's l2: 634.642
[40]	train's l2: 595.62
[50]	train's l2: 561.275
--- レイシにがうり モデルを学習中 ---
[10]	train's l2: 43540.2
[20]	train's l2: 33779
[30]	train's l2: 28839.8
[40]	train's l2: 26380.5
[50]	train's l2: 24658.7
--- レタス モデルを学習中 ---
[10]	train's l2: 550374
[20]	train's l2: 479753
[30]	train's l2: 445460
[40]	train's l2: 426911
[50]	train's l2: 413709

In [148]:
### chatgpt

pred_list = []

for kd, group in test_df.groupby("kind"):
    model = models[kd]       # 野菜ごとのモデルを取り出す
    X_test = group.copy()
    pred = model.predict(X_test)

    X_test["mode_price"] = pred
    pred_list.append(X_test)

result = pd.concat(pred_list).sort_index()

result["date"] = (
    result["year"].astype(str)
    + result["month"].astype(str).str.zfill(2)
    + result["day"].astype(str).str.zfill(2)
)

result["date"] = result["date"].astype(int)

submit = result[["kind", "date", "mode_price"]]
submit.to_csv("submit.csv", index=False)

C:\Users\ND013\AppData\Local\Temp\ipykernel_6848\517501924.py:3: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  for kd, group in test_df.groupby("kind"):