In [2]:
import pandas as pd
lgb =  pd.read_csv("submit.csv")
xgb =  pd.read_csv("submit_XGBoost.csv")
cat = pd.read_csv("cat_submit.csv")

In [3]:
lgb

      kind      date   mode_price
0     だいこん  20220502  1039.136806
1     だいこん  20220506  1039.136806
2     だいこん  20220507  1034.473760
3     だいこん  20220509  1033.763412
4     だいこん  20220510  1033.763412
..     ...       ...          ...
315  ミニトマト  20220526   103.190671
316  ミニトマト  20220527   103.190671
317  ミニトマト  20220528   102.769817
318  ミニトマト  20220530   102.990850
319  ミニトマト  20220531   104.152180

[320 rows x 3 columns]

In [4]:
xgb

      kind      date   mode_price
0     だいこん  20220502  1020.254900
1     だいこん  20220506  1021.973630
2     だいこん  20220507  1018.191040
3     だいこん  20220509  1018.554100
4     だいこん  20220510  1022.653440
..     ...       ...          ...
315  ミニトマト  20220526   103.470680
316  ミニトマト  20220527   103.823746
317  ミニトマト  20220528   103.861490
318  ミニトマト  20220530   106.481360
319  ミニトマト  20220531   109.240740

[320 rows x 3 columns]

In [5]:
cat

      kind      date  mode_price
0     だいこん  20220502  989.398329
1     だいこん  20220506  987.829158
2     だいこん  20220507  987.829158
3     だいこん  20220509  987.829158
4     だいこん  20220510  987.829158
..     ...       ...         ...
315  ミニトマト  20220526  125.047673
316  ミニトマト  20220527  125.047673
317  ミニトマト  20220528  125.047673
318  ミニトマト  20220530  125.728556
319  ミニトマト  20220531  125.728556

[320 rows x 3 columns]

In [7]:

df_all = lgb[['kind', 'date']].copy()
df_all['lgb'] = lgb['mode_price']
df_all['xgb'] = xgb['mode_price']
df_all['cat'] = cat['mode_price']

df_all['mean_pred'] = df_all[['lgb', 'xgb', 'cat']].mean(axis=1)

df_all[["kind", "date", "mean_pred"]].rename(
    columns={"mean_pred": "mode_price"}
).to_csv("submission.csv", index=False)